
@{
    ViewBag.Title = "Login";
}
<frommethod="post" action="@Url.Action("PostLogin")">
<h2>登录</h2>
<div>
   登录名： <input name="username" type="text" />
</div>
<div>
    密码：<input name="passsword" type="password" />
</div>
    <div>
    <button  value="登录" type="submit"></button>
        </div>
</frommethod="post">

